{% extends 'user/base.html' %}
{% block content %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Add New Address </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->

<section class="login_part section_padding">


    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
             <!-- Left content here -->
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                       
                        <div class="login-container">
                            <form class="row contact_form" method="post" novalidate="novalidate">
                                {% csrf_token %}
                                <!-- Form fields -->
                                <!-- {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %} -->
                                <div class="col-md-12 form-group p_star">
                                  <input type="text" class="form-control" id="name" name="fullname" placeholder='Enter fullname' required>
                              </div>
                              <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="name" name="phoneno" placeholder='Enter phoneno' required>
                            </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="house_no" placeholder='Enter Adress line 1' required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control"placeholder='Enter street' id="street"  name="street" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control"placeholder='District' id="district" name="district"  required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control"placeholder='State' id="state" name="state"  required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="country" name="country" placeholder="Country" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                  <input type="text" class="form-control" id="postcode" name="postcode" placeholder="postcode" required>
                              </div>
                                
                                <div class="col-md-12 form-group">
                                    
                                    <button type="submit" value="submit" class="btn_3">
                                        Confirm 
                                    </button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
                {% endblock content %}
                {% include 'sweetalert.html' %}