{% extends 'admin1/base.html' %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupons</h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white" />
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </th>
                                    
                                    <th>Name</th>
                                    <th>discount_price</th>
                                    <th>Expiry</th>
                                    <th>Minimum Amount</th>
                                    <th>Actions</th>  <!-- Added Actions column -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for coupon in coupons %}
                                <tr>
                                    <td class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </td>
                                 
                                    <td><b>{{ coupon.coupon_code }}</b></td>
                                   <td>{{ coupon.discount_price }}</td>
                                   <td>{{ coupon.is_expired}} </td>
                                   <td>{{ coupon.minimum_amount}} </td>
                                    <td>  <!-- Moved the buttons inside the Actions column -->
                                         <a href="{% url 'delete_coupon' coupon.id %}?category_id={{ coupon.id }}" class="btn btn-md rounded font-sm btn-success">Remove</a>
                                        
                                    </td> 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <form>
                        <div class="d-grid">
                            <a href="{% url 'add_coupon' %}" class="btn btn-primary">Create</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
